<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Marionette Contact Manager</title>
	<link rel="stylesheet" href="./assets/css/bootstrap.css">
	<link rel="stylesheet" href="./assets/css/application.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top"> 
		<div class="navbar-inner">
			<div class="container">
				<span class="brand">Contact manager</span>
        	</div>
      	</div>
	</div>
	<div id="main-region" class="container">
	<p>Here is static content in the web page. You'll notice that it gets
	replaced by our app as soon as we start it.</p> 
	</div>
	
	<script src="./assets/js/vendor/jquery.min.js"></script>
	<script src="./assets/js/vendor/json2.js"></script>
	<script src="./assets/js/vendor/underscore.js"></script>
	<script src="./assets/js/vendor/backbone.js"></script>
	<script src="./assets/js/vendor/backbone.marionette.js"></script>

	<script type="text/template" id="contact-list-item">
		<p><%= firstName%> <%= lastName%></p>
	</script>

	<script type="text/template" id="list-item-template">
		<li>One item</li>
	</script>
	
	<script type="text/javascript">
		var ContactManager = new Marionette.Application();

		ContactManager.Contact = Backbone.Model.extend({
			defaults: {
				firstName: '',
				lastName: '',
				phoneNumber: 'No phone Number!'
			}
		});

		ContactManager.ContactCollection = Backbone.Collection.extend({
			model: ContactManager.Contact
		});

		ContactManager.addRegions({
			mainRegion: "#main-region"
		});
		
		ContactManager.ContactItemView = Backbone.Marionette.ItemView.extend({
  			tagName: "li",
  			template: "#contact-list-item",
  			events:{
  				"click p": "alertPhoneNumber"
  			},

  			alertPhoneNumber: function(){
  				alert(this.model.escape("phoneNumber"));
  			}
		});

		ContactManager.ContactsView = Backbone.Marionette.CollectionView.extend({
			tagName: "ul",
			itemView: ContactManager.ContactItemView
		});

		ContactManager.on("initialize:after", function(){
			var contacts = new ContactManager.ContactCollection([
			{
				firstName: "Bob",
				lastName: "Brigham",
				phoneNumber: "555-0154"
			},
			{
				firstName: "Alice",
				lastName: "Arten",
				phoneNumber: "555-0184"
			},
			{
				firstName: "Charlie",
				lastName: "Campbell",
				phoneNumber: "555-0129"
			}
			]);
			
			var contactsListView = new ContactManager.ContactsView({
				collection: contacts
			});

			ContactManager.mainRegion.show(contactsListView);

		});

		ContactManager.start();
	</script>

</body>
</html>